<div style="margin-bottom:3em">
  <div class="medium"><p><%= post.words %></p></div>
  <div class="medium"><p><%= post.links %></p></div>
  <div class="medium"><p><%= post.headings %></p></div>
  <div class="medium"><p><%= post.fb %></p></div>
  <div class="medium"><p><%= post.twitter %></p></div>
  <div class="medium"><p><%= post.linkedin %></p></div>
  <div class="large"><p><%= post.name %></p></a></div>
</div>